
body {
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	background-image: url(../images/bg.jpg);
	background-color: #333; 
}

h1 {
	font-size: 50px;
	margin-bottom: 0;
	background-color: #333;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: yellow;
}

#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin-top: 50px;
}

.about {
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
/*	background-color: rgb(51,51,51);
	opacity: 0.25;*/
	background-color: rgba(51,51,51,0.8);
	font-family: 'Open Sans', sans-serif;

}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}



